AutoSar2Tile/AutoSar2Tile/GeneratedFiles/
AutoSar2Tile/auxiliary/
AutoSar2Tile/x64/
AutoSar2Tile/AutoSar2Tile/x64/
AutoSar2Tile/.vs/AutoSar2Tile/v14/.suo
AutoSar2Tile/AutoSar2Tile.VC.VC.opendb
AutoSar2Tile/AutoSar2Tile.VC.db
AutoSar2Tile/lib/
/data/test
